# ===============================
# TELEGRAM
# ===============================

BOT_TOKEN=secret_token

# ===============================
# APP
# ===============================
NODE_ENV=development
APP_TIMEZONE=Europe/Kyiv

# ===============================
# GOOGLE SCRIPT URL
# SHEETS API
#==============================`
SHEETS_API_URL=https://script.google.com/macros/s/AKfycbzp0n30CPGekYxxwzAumEasc3LlRxLNB_E4WrRmrr8XZtH1lnUV0B4JazKM0kWned6WuQ/exec?mode=api
SHEETS_API_TOKEN=Bs7iGITBwmhRfPhHxMst98w2bkIDw6OPLmkEdYIIY9tcd6mybjkm7LxZsFcf0fBl
# ===============================
# DATABASE
# ===============================
DB_TYPE=sqlite
DB_PATH=./data/database.sqlite

# для майбутнього PostgreSQL
# DB_TYPE=postgres
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=carwash
# DB_USER=postgres
# DB_PASSWORD=postgres

# ===============================
# BUSINESS SETTINGS
# ===============================
WORKDAY_START=08:00
WORKDAY_END=22:00
SLOT_STEP_MINUTES=15

BREAKS=[{"start":"13:15","end":"14:00"}]
# ===============================
# RESOURCES (scaling)
# ===============================
PORTAL_WASH_COUNT=2
SERVICE_BOX_COUNT=1

# ===============================
# NOTIFICATIONS
# ===============================
REMINDER_ENABLED=true
REMINDER_BEFORE_HOURS=24
REMINDER_BEFORE_MINUTES=0

# друге нагадування (опціонально)
SECOND_REMINDER_ENABLED=true
SECOND_REMINDER_BEFORE_HOURS=2

# ===============================
# CONTACTS
# ===============================
OPERATOR_PHONE=+380673385505
